@import "./_variables"
@import "./_mixins"

.header
  @include orientacion__row__p (row,centered)
  width: 90vw
  @include nav__bg
  @include box__border__tp__bt
.Navbar
  @include orientacion__row (row, space-between__end, ajusted, margin__nav)
  img
    height: 80px
  .menu
    @include icon__position (row, flex-start)
    padding-right: 10px


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
  .Navbar
    .central__logo
      display: inline-flex
    .menu
      padding-right: 5px

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
  .Navbar
    .central__logo
      display: inline-flex

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
  .header
    @include orientacion__row__p (row,centered)
    width: 96vw
    @include box__border
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  .Navbar
    margin: 10px 0 0 0px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    .central__logo
      display: inline-flex
    .menu
      padding-right: 0
  
    

    
