@charset "UTF-8";
/*para la animacion */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 95vw;
  margin: 10px 0 0 10px;
}
.Navbar img {
  width: 120px;
  height: 80px;
}
.Navbar .central__logo {
  display: none;
}
.Navbar .menu {
  display: flex;
  align-items: flex-start;
  height: 50px;
  padding-right: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Navbar .central__logo {
    display: inline-flex;
  }
  .Navbar .menu {
    padding-right: 5px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Navbar .central__logo {
    display: inline-flex;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Navbar {
    margin: 10px 0 0 0px;
  }
  .Navbar .central__logo {
    display: inline-flex;
  }
  .Navbar .menu {
    padding-right: 0;
  }
}
/*para la animacion */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.animation__container__1 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__1::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__1:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__1::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__1:hover .animation__content img {
  opacity: 0;
}

.animation__content h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animation__container__1 {
    position: relative;
    width: 50vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -25px 150px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__1:hover::before {
    inset: -25px -1px;
  }
  .animation__content h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animation__container__1 {
    position: relative;
    width: 50vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -100px 200px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__1:hover::before {
    inset: -100px -1px;
  }
  .animation__content h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .animation__container__1 {
    position: relative;
    width: 45vw;
    height: 65vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -80px 220px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__1:hover::before {
    inset: -80px -1px;
  }
  .animation__content h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about__container {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    justify-items: center;
  }
  .animation__container__1 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -80px 180px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__1:hover::before {
    inset: -80px -1px;
  }
  .animation__content h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/*para la animacion */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
/*Circulo 1 Lenguajes */
.animation__container__2 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__2::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__2:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__2::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st2 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__2:hover .animation__content__st2 img {
  opacity: 0;
}

.animation__content__st2 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st2 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/*circulo 2 Frameworks */
.animation__container__3 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__3::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__3:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__3::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st3 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__3:hover .animation__content__st3 img {
  opacity: 0;
}

.animation__content__st3 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st3 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 3 Bases de Datos */
.animation__container__4 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__4::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__4:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__4::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st4 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st4 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__4:hover .animation__content__st4 img {
  opacity: 0;
}

.animation__content__st4 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st4 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 4 Otras Tecnologias  */
.animation__container__5 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__5::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__5:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__5::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st5 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st5 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__5:hover .animation__content__st5 img {
  opacity: 0;
}

.animation__content__st5 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st5 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 5 APIs */
.animation__container__6 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__6::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__6:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__6::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st6 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st6 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__6:hover .animation__content__st6 img {
  opacity: 0;
}

.animation__content__st6 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st6 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 6 Y mucho, mucho mas */
.animation__container__7 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 0 20% 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__7::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__7:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__7::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st7 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st7 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__7:hover .animation__content__st6 img {
  opacity: 0;
}

.animation__content__st7 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st7 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*Circulo 1 Lenguajes */
  .animation__container__2 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__2::before {
    content: "";
    position: absolute;
    inset: -12px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__2:hover::before {
    inset: -10px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__2::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st2 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__2:hover .animation__content__st2 img {
    opacity: 0;
  }
  .animation__content__st2 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st2 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /*circulo 2 Frameworks */
  .animation__container__3 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__3::before {
    content: "";
    position: absolute;
    inset: -12px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__3:hover::before {
    inset: -10px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__3::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st3 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__3:hover .animation__content__st3 img {
    opacity: 0;
  }
  .animation__content__st3 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st3 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 3 Bases de Datos */
  .animation__container__4 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__4::before {
    content: "";
    position: absolute;
    inset: -12px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__4:hover::before {
    inset: -10px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__4::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st4 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st4 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__4:hover .animation__content__st4 img {
    opacity: 0;
  }
  .animation__content__st4 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st4 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 4 Otras Tecnologias  */
  .animation__container__5 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__5::before {
    content: "";
    position: absolute;
    inset: -12px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__5:hover::before {
    inset: -10px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__5::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st5 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st5 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__5:hover .animation__content__st5 img {
    opacity: 0;
  }
  .animation__content__st5 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st5 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 5 Y APIs */
  .animation__container__6 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__6::before {
    content: "";
    position: absolute;
    inset: -12px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__6:hover::before {
    inset: -10px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__6::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st6 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st6 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__6:hover .animation__content__st6 img {
    opacity: 0;
  }
  .animation__content__st6 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st6 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 6 y mucho mucho mas */
  .animation__container__7 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__7::before {
    content: "";
    position: absolute;
    inset: -12px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__7:hover::before {
    inset: -10px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__7::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st7 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st7 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__7:hover .animation__content__st6 img {
    opacity: 0;
  }
  .animation__content__st7 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st7 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container4__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .animation__container__2 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__2::before {
    content: "";
    position: absolute;
    inset: -80px 140px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__2:hover::before {
    inset: -80px -1px;
  }
  .animation__content__st2 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st2 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__3 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__3::before {
    content: "";
    position: absolute;
    inset: -80px 140px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__3:hover::before {
    inset: -80px -1px;
  }
  .animation__content__st3 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st3 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__4 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__4::before {
    content: "";
    position: absolute;
    inset: -80px 140px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__4:hover::before {
    inset: -80px -1px;
  }
  .animation__content__st4 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st4 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__5 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__5::before {
    content: "";
    position: absolute;
    inset: -80px 140px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__5:hover::before {
    inset: -80px -1px;
  }
  .animation__content__st5 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st5 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__6 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__6::before {
    content: "";
    position: absolute;
    inset: -80px 140px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__6:hover::before {
    inset: -80px -1px;
  }
  .animation__content__st6 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st6 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__7 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__7::before {
    content: "";
    position: absolute;
    inset: -80px 140px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__7:hover::before {
    inset: -80px -1px;
  }
  .animation__content__st7 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st7 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container4__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .animation__container__2 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__2::before {
    content: "";
    position: absolute;
    inset: -80px 100px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__2:hover::before {
    inset: -80px -12px;
  }
  .animation__content__st2 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st2 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__3 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__3::before {
    content: "";
    position: absolute;
    inset: -80px 100px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__3:hover::before {
    inset: -80px -12px;
  }
  .animation__content__st3 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st3 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__4 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__4::before {
    content: "";
    position: absolute;
    inset: -80px 100px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__4:hover::before {
    inset: -80px -12px;
  }
  .animation__content__st4 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st4 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__5 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__5::before {
    content: "";
    position: absolute;
    inset: -80px 100px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__5:hover::before {
    inset: -80px -12px;
  }
  .animation__content__st5 h2 {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st5 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__6 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__6::before {
    content: "";
    position: absolute;
    inset: -80px 100px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__6:hover::before {
    inset: -80px -12px;
  }
  .animation__content__st6 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st6 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__7 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__7::before {
    content: "";
    position: absolute;
    inset: -80px 100px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__7:hover::before {
    inset: -80px -12px;
  }
  .animation__content__st7 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st7 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/*para la animacion */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
* {
  font-family: sans-serif;
}

body {
  color: #fff;
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-size: cover;
  width: 95vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}/*# sourceMappingURL=global.css.map */