@charset "UTF-8";
/*color background´s */
/* formatos para textos */
/*for text animation */
/*for orbs animation */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  background: #8cb7bd;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 95vw;
  margin: 10px 0 0 10px;
}
.Navbar img {
  height: 80px;
}
.Navbar .menu {
  display: flex;
  align-items: flex-start;
  height: 50px;
  padding-right: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Navbar .central__logo {
    display: inline-flex;
  }
  .Navbar .menu {
    padding-right: 5px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Navbar .central__logo {
    display: inline-flex;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .Navbar {
    margin: 10px 0 0 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .Navbar .central__logo {
    display: inline-flex;
  }
  .Navbar .menu {
    padding-right: 0;
  }
}
/*color background´s */
/* formatos para textos */
/*for text animation */
/*for orbs animation */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.about__container {
  width: 90vw;
  background: linear-gradient(to right, #8cb7bd 50%, #a9c9c4);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.text__container__1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  animation: slideInLeft 2s ease-in;
  animation-iteration-count: 1;
  transition: 0.2s;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}
.text__container__1 h1 {
  padding: 15px 5px 5px 10px;
  letter-spacing: 0.1rem;
}
.text__container__1 p {
  padding: 5px 15px 5px 15px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.animation__container__1 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  background: #a9c9c4;
  animation: slideInRight 2s ease-in 0.3s 1;
  transition: 0.2s;
}
@keyframes slideInRight {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0);
  }
}

.animation__container__1::before {
  content: "";
  position: absolute;
  inset: -12px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__1:hover::before {
  inset: -10px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__1::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__1:hover .animation__content img {
  opacity: 0;
}

.animation__content h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animation__container__1 {
    position: relative;
    width: 50vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -25px 150px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__1:hover::before {
    inset: -25px -1px;
  }
  .animation__content h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animation__container__1 {
    position: relative;
    width: 50vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -100px 200px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__1:hover::before {
    inset: -100px -1px;
  }
  .animation__content h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .animation__container__1 {
    position: relative;
    width: 45vw;
    height: 65vh;
    border: 1px solid #ccc;
    margin: 10% 20% 5% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .text__container__1 h1 {
    padding: 15px 5px 5px 10px;
    letter-spacing: 0.1rem;
    font-size: 3rem;
  }
  .text__container__1 p {
    padding: 5px 15px 5px 15px;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -80px 220px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__1:hover::before {
    inset: -80px -1px;
  }
  .animation__content h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 96vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 70vh;
  }
  .text__container__1 h1 {
    padding: 15px 5px 5px 10px;
    letter-spacing: 0.1rem;
    font-size: 3rem;
  }
  .text__container__1 p {
    padding: 5px 15px 5px 15px;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }
  .animation__container__1 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 0 20% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__1::before {
    content: "";
    position: absolute;
    inset: -80px 180px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__1:hover::before {
    inset: -80px -1px;
  }
  .animation__content h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/*color background´s */
/* formatos para textos */
/*for text animation */
/*for orbs animation */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.future__skills__container {
  width: 90vw;
  background: #bfd8d5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.text__container__2 {
  background: #8cb7bd;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  animation: slideInLeft 2s ease-in;
  animation-iteration-count: 1;
  transition: 0.2s;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}

.container4__grid {
  background: #bfd8d5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slideInRight 2s ease-in 0.3s 1;
  transition: 0.2s;
}
@keyframes slideInRight {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
  }
}

.text__container__2 h2 {
  padding: 15px 5px 5px 10px;
  letter-spacing: 0.1rem;
}
.text__container__2 p {
  padding: 5px 15px 5px 15px;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
}

/*Circulo 1 Lenguajes */
.animation__container__2 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__2::before {
  content: "";
  position: absolute;
  inset: -70px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__2:hover::before {
  inset: -70px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__2::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st2 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__2:hover .animation__content__st2 img {
  opacity: 0;
}

.animation__content__st2 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st2 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/*circulo 2 Frameworks */
.animation__container__3 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__3::before {
  content: "";
  position: absolute;
  inset: -70px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__3:hover::before {
  inset: -70px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__3::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st3 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__3:hover .animation__content__st3 img {
  opacity: 0;
}

.animation__content__st3 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st3 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 3 Bases de Datos */
.animation__container__4 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__4::before {
  content: "";
  position: absolute;
  inset: -70px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__4:hover::before {
  inset: -70px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__4::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st4 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st4 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__4:hover .animation__content__st4 img {
  opacity: 0;
}

.animation__content__st4 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st4 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 4 Otras Tecnologias  */
.animation__container__5 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__5::before {
  content: "";
  position: absolute;
  inset: -70px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__5:hover::before {
  inset: -70px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__5::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st5 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st5 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__5:hover .animation__content__st5 img {
  opacity: 0;
}

.animation__content__st5 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st5 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 5 APIs */
.animation__container__6 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__6::before {
  content: "";
  position: absolute;
  inset: -70px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__6:hover::before {
  inset: -70px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__6::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st6 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st6 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__6:hover .animation__content__st6 img {
  opacity: 0;
}

.animation__content__st6 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st6 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* circulo 6 Y mucho, mucho mas */
.animation__container__7 {
  position: relative;
  width: 50vw;
  height: 40vh;
  border: 1px solid #ccc;
  margin: 10% 20% 10% 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.animation__container__7::before {
  content: "";
  position: absolute;
  inset: -70px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 7s linear infinite;
}

.animation__container__7:hover::before {
  inset: -70px -5px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation__container__7::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  z-index: 1;
}

.animation__content__st7 {
  position: absolute;
  inset: 30px;
  border: 2px solid #fff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation__content__st7 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.animation__container__7:hover .animation__content__st6 img {
  opacity: 0;
}

.animation__content__st7 h2 {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.animation__content__st7 span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*Circulo 1 Lenguajes */
  .animation__container__2 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__2::before {
    content: "";
    position: absolute;
    inset: -70px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__2:hover::before {
    inset: -70px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__2::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st2 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__2:hover .animation__content__st2 img {
    opacity: 0;
  }
  .animation__content__st2 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st2 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /*circulo 2 Frameworks */
  .animation__container__3 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__3::before {
    content: "";
    position: absolute;
    inset: -70px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__3:hover::before {
    inset: -70px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__3::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st3 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__3:hover .animation__content__st3 img {
    opacity: 0;
  }
  .animation__content__st3 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st3 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 3 Bases de Datos */
  .animation__container__4 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__4::before {
    content: "";
    position: absolute;
    inset: -70px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__4:hover::before {
    inset: -70px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__4::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st4 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st4 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__4:hover .animation__content__st4 img {
    opacity: 0;
  }
  .animation__content__st4 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st4 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 4 Otras Tecnologias  */
  .animation__container__5 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__5::before {
    content: "";
    position: absolute;
    inset: -70px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__5:hover::before {
    inset: -70px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__5::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st5 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st5 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__5:hover .animation__content__st5 img {
    opacity: 0;
  }
  .animation__content__st5 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st5 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 5 Y APIs */
  .animation__container__6 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__6::before {
    content: "";
    position: absolute;
    inset: -70px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__6:hover::before {
    inset: -70px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__6::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st6 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st6 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__6:hover .animation__content__st6 img {
    opacity: 0;
  }
  .animation__content__st6 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st6 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
  /* circulo 6 y mucho mucho mas */
  .animation__container__7 {
    position: relative;
    width: 50vw;
    height: 40vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__7::before {
    content: "";
    position: absolute;
    inset: -70px 100px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
  }
  .animation__container__7:hover::before {
    inset: -70px -5px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animation__container__7::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 1;
  }
  .animation__content__st7 {
    position: absolute;
    inset: 30px;
    border: 2px solid #fff;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .animation__content__st7 img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .animation__container__7:hover .animation__content__st6 img {
    opacity: 0;
  }
  .animation__content__st7 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st7 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container4__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .animation__container__2 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__2::before {
    content: "";
    position: absolute;
    inset: -80px 120px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__2:hover::before {
    inset: -80px -50px;
  }
  .animation__content__st2 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st2 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__3 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__3::before {
    content: "";
    position: absolute;
    inset: -80px 120px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__3:hover::before {
    inset: -80px -50px;
  }
  .animation__content__st3 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st3 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__4 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__4::before {
    content: "";
    position: absolute;
    inset: -80px 120px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__4:hover::before {
    inset: -80px -50px;
  }
  .animation__content__st4 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st4 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__5 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__5::before {
    content: "";
    position: absolute;
    inset: -80px 120px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__5:hover::before {
    inset: -80px -50px;
  }
  .animation__content__st5 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st5 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__6 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__6::before {
    content: "";
    position: absolute;
    inset: -80px 120px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__6:hover::before {
    inset: -80px -50px;
  }
  .animation__content__st6 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st6 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__7 {
    position: relative;
    width: 30vw;
    height: 55vh;
    border: 1px solid #ccc;
    margin: 10% 20% 10% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .animation__container__7::before {
    content: "";
    position: absolute;
    inset: -80px 120px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__7:hover::before {
    inset: -80px -50px;
  }
  .animation__content__st7 h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st7 span {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .future__skills__container {
    margin: 5% 0 5% 0;
  }
  .future__skills__container .text__container__2 {
    padding: 5px 15px 5px 15px;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
  }
  .future__skills__container .text__container__2 h1 {
    padding: 15px 5px 5px 10px;
    letter-spacing: 0.1rem;
    font-size: 2.4rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .future__skills__container {
    width: 96vw;
  }
  .container4__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .text__container__2 h2 {
    padding: 15px 5px 5px 10px;
    letter-spacing: 0.1rem;
    font-size: 2.6rem;
  }
  .text__container__2 p {
    padding: 5px 15px 5px 15px;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }
  .animation__container__2 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0 20px 0;
  }
  .animation__container__2::before {
    content: "";
    position: absolute;
    inset: -80px 90px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__2:hover::before {
    inset: -80px -25px;
  }
  .animation__content__st2 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st2 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__3 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0 20px 0;
  }
  .animation__container__3::before {
    content: "";
    position: absolute;
    inset: -80px 90px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__3:hover::before {
    inset: -80px -25px;
  }
  .animation__content__st3 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st3 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__4 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0 20px 0;
  }
  .animation__container__4::before {
    content: "";
    position: absolute;
    inset: -80px 90px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__4:hover::before {
    inset: -80px -25px;
  }
  .animation__content__st4 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st4 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__5 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0 20px 0;
  }
  .animation__container__5::before {
    content: "";
    position: absolute;
    inset: -80px 90px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__5:hover::before {
    inset: -80px -25px;
  }
  .animation__content__st5 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st5 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__6 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0 20px 0;
  }
  .animation__container__6::before {
    content: "";
    position: absolute;
    inset: -80px 90px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__6:hover::before {
    inset: -80px -25px;
  }
  .animation__content__st6 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st6 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
  .animation__container__7 {
    position: relative;
    width: 15vw;
    height: 35vh;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0 20px 0;
  }
  .animation__container__7::before {
    content: "";
    position: absolute;
    inset: -80px 90px;
    background: linear-gradient(360deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 7s linear infinite;
    overflow: hidden;
  }
  .animation__container__7:hover::before {
    inset: -80px -25px;
  }
  .animation__content__st7 h2 {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .animation__content__st7 span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }
}
/*color background´s */
/* formatos para textos */
/*for text animation */
/*for orbs animation */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.projets {
  width: 90vw;
  background: #f1f1f1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.projets .sect__title {
  background: #a5dbce;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  animation: slideInLeft 2s ease-in;
  animation-iteration-count: 1;
  transition: 0.2s;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}
.projets .sect__title h2 {
  padding: 15px 5px 10px 10px;
  letter-spacing: 0.1rem;
  font-size: 2.1rem;
}
.projets .card__container {
  background: #f1f1f1;
  animation: slideInRight 2s ease-in 0.3s 1;
  transition: 0.2s;
}
@keyframes slideInRight {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
  }
}

.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  margin: 10px 10 0 10px;
}
.card__container .card__box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  height: 300px;
  background: transparent;
  box-shadow: inset 5px 5px 5px #021420;
  border-radius: 50%;
  margin: 10px;
}
.card__container .card__box .box {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: rgba(0, 2, 4, 0.7529411765);
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 20px 50px #010b14;
  transition: 0.05s;
}
.card__container .box:hover {
  transform: translateY(-25px);
  box-shadow: 0 40px 70px #010b14;
}

.content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content img {
  width: 180px;
  height: 150px;
  border-radius: 70px;
}
.content h2 {
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .projets {
    width: 96vw;
  }
  .projets .card__container {
    margin: 0;
    width: 96vw;
  }
}
/*color background´s */
/* formatos para textos */
/*for text animation */
/*for orbs animation */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
.footer__container {
  width: 90vw;
  background: #8cb7bd;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer__content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.footer__content .social__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.footer__content .social__media .icons__space {
  padding: 0 15px;
}
.footer__content .legal {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer__container {
    width: 96vw;
  }
}
/*color background´s */
/* formatos para textos */
/*for text animation */
/*for orbs animation */
/*para la animacion de la segunda seccion width 768px and up */
/* para la animacion tamaño 1200px and up */
* {
  font-family: sans-serif;
}

body {
  color: #fff;
  width: 90vw;
  min-height: 100vh;
  padding: 10px;
}

.container {
  width: 90vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    width: 94vw;
    overflow-x: hidden;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    width: 96vw;
  }
  body .container {
    width: 96vw;
  }
}/*# sourceMappingURL=global.css.map */